.form-group:last-child {
  margin-bottom: 0px;
}

.popover {
  max-width: 330px;
}

.plotly-notifier {
  display: none;
}

.leaflet-div-icon {
  background-color: transparent !important;
  border-color: transparent !important;
}
